<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%=title %></title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <p>
    Вивести загальну вартість проживання в певному готелі певну кількість днів.
  </p>
  
  <form method="POST" action="/query/6">
    <label for="hotel">Готель:</label>
    <select name="hotel">
      <% for (let i of HotelName) { %>
        <option value="<%=i.HotelName %>">
          <%=i.HotelName %>
        </option>
      <% } %> 
    </select>

    <label for="numberDays">Кількість днів:</label>
    <input type="number" name="numberDays">

    <input type="submit" value="Виконати">
  </form>

</body>
</html>